* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  html {
    overflow-x: hidden;
  }
  
  .container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }
  
  header, footer {
    background-color: #0077ff;
    padding-top: 16px;
    color: #fff;
  }
  
  header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }

  header h1 {
    color: #fff;
    font-style: italic;
  }
  
  header > .container,
  footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
  }

  nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
  }
  
  .container-flex {
    display: flex;
  }
  
  #sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
  }
  
  section {
    padding: 48px 0;
  }
  
  section h2 {
    margin-bottom: 16px;
    color: #0077ff;
    font-style: italic;
  }

  section hr {
    margin-bottom: 16px;
    
  }
  
  .lista-produtos {
    flex-wrap: wrap;
  }
  
  .lista-produtos li {
    list-style: none;
    max-width: 20%;
    margin-bottom: 24px;
  }
  
  .lista-produtos li img {
    max-width: 100%;
  }
  
  .lista-produtos li h3 {
    margin: 16px 0;
  }
  
  .item {
    margin: 0 2%;
    display: inline;
  }

  section div li,
  section div li p,
  section div li strong {
    margin: 16px 0;
  }

  button {
    display: block;
    width: 95%;
    padding: 8px 0;
    border: none;
    background-color: #0077ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    margin: 16px 0;
  }
  
  form button {
    max-width: 120px;
  }
  
  footer li {
    list-style: none;
    margin-left: 16px;
  }
  
  footer li img {
    height: 32px;
  }

  @media screen and (max-width: 767px) {
    .container {
      max-width: 90%;
    }
    .container-flex {
      flex-direction: column;
      align-items: center;
    }
    header h1 {
      font-size: 24px; /* Reduzindo o tamanho da fonte do cabeçalho */
    }
    #sobre-a-loja img {
      max-width: 100%; /* Garantindo que a imagem se ajuste à largura da tela */
      margin: 0 auto 24px; /* Centralizando a imagem e adicionando margem inferior */
    }
    .lista-produtos li {
      max-width: 100%; /* Garantindo que os itens ocupem toda a largura disponível */
    }
  }
  

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 90%;
  }
  .container-flex {
    flex-direction: column; /* Alterando para layout de coluna */
    align-items: center; /* Centralizando os elementos */
  }
  .lista-produtos li {
    max-width: 45%; /* Reduzindo a largura dos itens para caber em duas colunas */
    margin-right: 5%; /* Adicionando espaço entre os itens */
  }
  .item {
    width: 100%; /* Ocupando toda a largura disponível */
  }
}
